streamlit==1.39.0

langgraph==0.2.60
langgraph-checkpoint==2.0.4
langgraph-checkpoint-sqlite==2.0.1

langchain-core==0.3.28
langchain-openai==0.2.10

openai==1.54.4
python-dotenv==1.0.1
pydantic==2.10.2